<h1>Organizers</h1>
{{#each organizers as |organizer|}}
    <p>Name: {{organizer.name}}</p>
    <p>Email: {{organizer.email}}</p>
    <p>Phone: {{organizer.phone}}</p>
    <p>Login: {{organizer.login}}</p>
    <p>Password: {{organizer.password}}</p>
    <br />
{{/each}}